In [3]:
import pandas as pd
import os

import sqlalchemy
from src.utils import preprocess

import pickle

In [4]:
data_path = 'data'
csv_fn = os.path.join(data_path, 'data_science_dataset_test_task.csv')

df = pd.read_csv(csv_fn)

In [5]:
engine = sqlalchemy.create_engine("mysql+pymysql://root:dfnf2011@localhost:3306/mydb?charset=utf8mb4")

### Upload data to SQL

In [22]:
df_to_upload = df.drop(['Unnamed: 0', 'old_model_probability', 'is_success'], axis=1)
df_to_upload.to_sql(con=engine, name='table1', if_exists='fail')

### Load data from SQL

In [6]:
df_from_sql = pd.read_sql(con=engine, sql='table1')
df_from_sql = df_from_sql.drop(['index'], axis=1)

### Model prediction

In [13]:
cols_to_drop = ['user_id',
              'current_dt',
              'scheduled_dt',
              'root_order_id',]

categorical_cols = ['os_family',
                    'lt_user',
                    'country_code', 
                    'phone', 
                    'hours_after_reg_buy',
                    'period',
                    'discount',
                    'currency_id',
                    'cpa',
                    'psp',
                    'last_response_code',
                    'bank',
                    'card_type', 
                    'card_country_code']

df_from_sql.drop(cols_to_drop, axis=1, inplace=True)
df_prep = preprocess(df_from_sql, categorical_cols, subset='eval')

In [14]:
df_prep

,gender,age,os_family,lt_user,hours_after_reg_buy,country_code,phone,cpa,retry_number,period,...,last_response_code,bank,was_3ds,card_type,card_country_code,success_orders,not_success_orders,insufficients,root_gross,not_root_gross
0,1,43,0.198403,0.260657,0.204343,0.276651,0.225004,1.000000,0,0.240883,...,0.329921,0.335075,0,0.201512,0.302010,2,0,0,29.17,6.81
1,1,25,0.198403,0.133627,0.141487,0.236962,0.217993,0.142857,0,0.240883,...,0.102799,0.255015,0,0.201512,0.233859,2,1,1,0.47,0.46
2,1,45,0.198403,0.249178,0.204343,0.194819,0.162182,0.194143,0,0.240883,...,0.324176,0.196884,0,0.201512,0.195213,2,1,0,0.48,6.67
3,1,45,0.198403,0.260657,0.204343,0.194819,0.162182,0.194143,0,0.240883,...,0.324176,0.196884,0,0.201512,0.195213,2,1,0,0.48,6.67
4,0,45,0.198403,0.249178,0.204343,0.194819,0.168033,0.174142,0,0.240883,...,0.102799,0.196884,0,0.201512,0.195213,1,1,1,0.48,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516175,0,33,0.234376,0.249178,0.204343,0.194819,0.233612,0.194143,0,0.240883,...,0.329921,0.122807,0,0.237747,0.195213,1,0,0,0.49,0.00
516176,0,26,0.234376,0.260657,0.204343,0.250063,0.233612,0.194143,0,0.240883,...,0.329921,0.261793,0,0.237747,0.245397,1,0,0,0.54,0.00
516177,0,26,0.234376,0.249178,0.204343,0.250063,0.233612,0.194143,0,0.240883,...,0.329921,0.261793,0,0.237747,0.245397,1,0,0,0.54,0.00
516178,0,44,0.234376,0.260657,0.204343,0.194819,0.233612,0.194143,0,0.240883,...,0.095908,0.196884,0,0.201512,0.195213,1,3,0,0.48,0.00
516179,0,44,0.234376,0.249178,0.204343,0.194819,0.233612,0.194143,0,0.240883,...,0.095908,0.196884,0,0.201512,0.195213,1,3,0,0.48,0.00

In [15]:
model = pickle.load(open('model.pkl', 'rb'))

predictions = model.predict(df_prep)
df_from_sql['is_success'] = predictions

In [23]:
df_from_sql.to_sql(con=engine, name='table2', if_exists='replace')